/*
DARK
$background-shadow: #2c3339;
$foreground-dark: #33414d;
$grey: #49555f;
$background-shadow: #2c3339;
$main-perrywinkle: #5c6bc6;
$light: #7d88d0;

LIGHT
$pink: #ffb0bd;
$peach: #fec3a1;
*/

/* generic form container styles */
div[class~="full-width-container"] {
  margin: 1em;
  padding: 1em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  border: dotted 1px black;
}

/* no results styles */
.empty-results-div {
  text-align: center;
  width: 100%;
  height: auto;
}

.empty-results-div h1 {
  font-family: "Playfair Display", serif;
  color: #2c3339;
}

.empty-results-div p {
  font-family: "Roboto", sans-serif;
  color: #8c9197;
}
