.create-meal-form__header {
  text-align: left;
  font-family: "Playfair Display", serif;
  font-size: 2em;
  color: #2c3339;
}

.meal-name-input {
  font-family: "Roboto", sans-serif;
  width: 100%;
}

.create-meal-form__form-control:last-child {
  margin-bottom: 2em;
}
