.food-item {
  display: grid;
  grid-template-columns: 1fr 25%;
  grid-template-rows: repeat(2, 2rem);
  grid-template-areas:
    "header aside"
    "footer aside";
  width: 300px;
}

.food-item + .food-item {
  margin-top: 1rem;
}

header > p {
  font-size: 0.75rem;
  margin: 0;
  padding: 0;
}
footer > p {
  font-size: 0.75rem;
  margin: 0;
  padding: 0;
}
aside > p {
  font-size: 0.75rem;
  margin: 0;
  padding: 0;
}

header {
  grid-area: header;
  background: lightblue;
}

footer {
  grid-area: footer;
  background: lightcoral;
}

aside {
  grid-area: aside;
  background: lightgoldenrodyellow;
}
