.food-item {
  display: grid;
  grid-template-columns: 1fr 30%;
  grid-template-areas: "main aside";
  border-radius: 8px;
}

p {
  font-family: "Roboto", sans-serif;
  margin: 0 0 0 1em;
}

p[class="heading"] {
  font-size: 115%;
  font-weight: 700;
  margin: 1em;
}

.food-item main {
  grid-area: main;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background: #5c6bc6;
  color: white;
}

.food-item main p:last-of-type {
  margin-bottom: 1em;
}

aside[class="food-item__macros"] {
  grid-area: aside;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  display: flex;
  flex-flow: row nowrap;
  background: #7d88d0;
  color: white;
}

.food-item aside > div[class="macro-group"] {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 2;
  justify-content: center;
  align-items: center;
}

.food-control-group {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 1em;
}

.food-item + .food-item {
  margin-top: 1rem;
}
