/*
DARK
$background-shadow: #2c3339;
$foreground-dark: #33414d;
$grey: #49555f;
$background-shadow: #2c3339;
$main-perrywinkle: #5c6bc6;
$light: #7d88d0;

LIGHT
$pink: #ffb0bd;
$peach: #fec3a1;
*/

.meal-list {
  display: flex;
  flex-flow: column nowrap;
}

.empty-meal-results {
  text-align: center;
  width: 100%;
  height: auto;
}

.empty-meal-results h1 {
  font-family: "Playfair Display", serif;
  color: #2c3339;
}

.empty-meal-results p {
  font-family: "Roboto", sans-serif;
  color: #8c9197;
}
