.meal-item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  width: 300px;
  background: lightblue;
}

.meal-item + .meal-item {
  margin-top: 1rem;
}
